:root {
	/* Colores primarios */
	--desaturated-red: hsl(0, 36%, 70%);
	--soft-red: hsl(0, 93%, 68%);
	/* Color neutral */
	--dark-grayish-red: hsl(0, 6%, 24%);
}

/* General */
body {
	min-height: 100vh;
	background-image: url(../assets/images/bg-pattern-desktop.svg);
}

img {
	display: block;
}

.position__left {
	position: relative;
	left: 5em;
}

.img__mobile {
	display: none;
}

/* Contenedor */
.contenedor {
	display: flex;
	flex-direction: row;
}

/* Contenido Logo*/
.contenedor .contenido {
	width: 50%;
}

.contenedor .contenido .logo {
	margin: 5em 0 10em 0;
}

.contenedor .contenido .logo img {
	width: 12em;
}

/* Titulo e informacion */
.contenedor .contenido .titulo__mas-informacion .titulo {
	margin-bottom: 1rem;
	font-family: Josefin-Sans-SemiBold;
	font-size: 5em;
	line-height: 1.1;
	width: 16ch;
	letter-spacing: .2em;
	color: var(--dark-grayish-red);
}

.contenedor .contenido .titulo__mas-informacion .titulo span {
	font-family: Josefin-Sans-Light;
	color: var(--desaturated-red);
}

.contenedor .contenido .titulo__mas-informacion .informacion {
	font-family: Josefin-Sans-Regular;
	font-size: 1.15em;
	max-width: 45ch;
	line-height: 1.5;
	color: var(--desaturated-red);
}

/* Mini form */
.formulario__email {
	position: relative;
	margin-top: 3rem;
}

.formulario__email .input__email {
	outline: 1px solid var(--desaturated-red);
	padding: 1rem;
	width: 30em;
	color: var(--desaturated-red);
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-ms-border-radius: 50px;
	-o-border-radius: 50px;
}

.formulario__email .input__email:focus {
	outline: 2px solid var(--soft-red);
}

.formulario__email .input__email::placeholder {
	color: var(--desaturated-red);
	font-family: Josefin-Sans-Regular;
}	

.formulario__email .boton {
	position: relative;
	top: -3.16rem;
	left: 25rem;
	padding: 1rem 2.5em;
	width: 5.7rem;
	background: linear-gradient(135deg, hsl(0, 80%, 86%) , hsl(0, 74%, 74%) );
	box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, .2);
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-ms-border-radius: 50px;
	-o-border-radius: 50px;
}

.formulario__email .boton:hover {
	background: linear-gradient(135deg, rgb(251, 204, 204) , rgb(237, 153, 153) );
}

.formulario__email .boton:active {
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
}

.formulario__email #img__error {
	display: none;
}

.formulario__email .btn__error {
	position: absolute;
	top: .85em;
	left: 22.5em;
	width: 1.5rem;
}

.formulario__email #prueba {
	position: relative;
	top: -2.5em;
	left: 1em;
	color: var(--desaturated-red);
	font-family: Josefin-Sans-Regular;
}

.contenedor .imagen__presentacion {
	width: 50%;
}

@media screen and (min-width: 20rem) and (max-width: 30rem) {
	.contenedor {
		flex-direction: column;
	}

	.contenedor .contenido {
		width: 100%;
	}

	.position__left {
		left: 0;
	}

	.img__desktop {
		display: none;
	}

	.contenedor .contenido .logo {
		padding: 1.5em 0;
		margin: 0;
	}

	.contenedor .contenido .logo img {
		position: relative;
		left: 1.4em;
		width: 6em;
	}

	.contenedor .contenido .titulo__mas-informacion .titulo {
		margin:1.5em auto .5em auto;
		font-size: 2em;
		line-height: 1.1;
		letter-spacing: .2em;
		text-align: center;
	}

	.contenedor .contenido .titulo__mas-informacion .informacion {
		text-align: center;
		font-size: .75em;
		margin: 0 auto;
		max-width: 35ch;
	}

	.formulario__email {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 1.7em;
		width: 100%;
	}

	.formulario__email .input__email {
		position: absolute;
		padding: .8em;
		width: 16em; 
		font-size: .9em;
	}

	.formulario__email .boton {
		top: 0rem;
		left: 6rem;
		padding: .7em 1.6em;
		width: 4rem;
	}

	.formulario__email .btn__error {
		position: relative;
		top: 0em;
		left: 5.2em;
	}
	.formulario__email #prueba {
		position: absolute;
		font-size: .8em;
		top: 3.7em;
		left: 4em;
	}

	.img__mobile {
		display: block;
		width: 100%;
	}

	.img__mobile img {
		width: 100%;
	}
}

@media screen and (min-width: 30.0625rem) and (max-width: 48rem) {
	.contenedor {
		flex-direction: column;
	}

	.contenedor .contenido {
		width: 100%;
	}

	.position__left {
		left: 0;
	}

	.img__desktop {
		display: none;
	}

	.contenedor .contenido .logo {
		padding: 1.5em 0;
		margin: 0;
	}

	.contenedor .contenido .logo img {
		position: relative;
		left: 1.4em;
		width: 8em;
	}

	.contenedor .contenido .titulo__mas-informacion .titulo {
		margin:1.5em auto .5em auto;
		font-size: 2.5em;
		line-height: 1.1;
		letter-spacing: .2em;
		text-align: center;
	}

	.contenedor .contenido .titulo__mas-informacion .informacion {
		text-align: center;
		font-size: 1em;
		margin: 0 auto;
		max-width: 40ch;
	}

	.formulario__email {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 1.7em;
		margin-bottom: 1.5em;
		width: 100%;
	}

	.formulario__email .input__email {
		position: absolute;
		padding: .8em;
		width: 25em; 
		font-size: .9em;
	}

	.formulario__email .boton {
		top: 0rem;
		left: 9.5em;
		padding: .7em 1.6em;
		width: 4rem;
	}

	.formulario__email .btn__error {
		position: relative;
		top: 0em;
		left: 8em;
	}

		.formulario__email #prueba {
		position: absolute;
		font-size: .8em;
		top: 3.7em;
		left: 8em;
	}

	.img__mobile {
		display: block;
		width: 100%;
	}

	.img__mobile img {
		width: 100%;
	}
}

@media screen and (min-width: 48.0625rem) and (max-width: 79.9375rem) {

	body {
		min-height: 100vh;
	}

	.contenedor {
		flex-direction: row;
	}

	.contenedor .contenido {
		width: 100%;
	}

	.position__left {
		left: 2rem;
	}

	.img__mobile {
		display: none;
	}

	.contenedor .contenido {
		width: 50%;
	}

	.contenedor .contenido .logo {
		padding: 1.5em 0;
		margin: 0;
	}

	.contenedor .contenido .logo img {
		width: 6em;
	}

	.contenedor .contenido .titulo__mas-informacion .titulo {
		margin:1.2em 0 .5em 0;
		font-size: 2.7em;
		line-height: 1.1;
		letter-spacing: .2em;
		text-align: left;
		width: 16ch;
	}

	.contenedor .contenido .titulo__mas-informacion .informacion {
		text-align: left;
		font-size: .9em;
		max-width: 35ch;
	}

	.formulario__email {
		display: flex;
		align-items: center;
		margin-top: 1.7em;
		width: 100%;
	}

	.formulario__email .input__email {
		position: absolute;
		padding: .8em;
		width: 16em; 
		font-size: .9em;
	}

	.formulario__email .boton {
		top: 0rem;
		left: 11rem;
		padding: .7em 1.6em;
		width: 4rem;
	}

	.formulario__email .btn__error {
		position: relative;
		top: 0em;
		left: 10.5em;
	}

		.formulario__email #prueba {
		position: absolute;
		font-size: .8em;
		top: 3.7em;
		left: 1em;
	}

	.img__desktop {
		display: block;
	}

	.imagen__presentacion {
		width: 50%;
	}

	.imagen__presentacion img {
		width: 100%;
	}

}
